<div class="m-5">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="form-group">
                <input
                    [(ngModel)]="email"
                    ngModel #emailref="ngModel"
                    type="email"
                    class="form-control"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    placeholder="Email"
                />
                <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class ="alert alert-danger">
                <div [hidden]="!emailref.errors?.pattern">Invalid pattern</div>
                </div><br>
                <input
                [(ngModel)]="password"
                type="password"
                class="form-control"
                placeholder="Password"
                /><br>
                <a *ngIf="email && password && !emailref.errors" routerLink="/home">
                    <button type="button" class="btn btn-outline-primary" >
                        Log in
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

